.product-details-container {
  margin-top: 40px;
  padding-left: 40px;
}

.product-details {
  padding: 50px 60px 90px 60px;
}

.product-details-goback {
  display: flex;
  align-items: center;
}

.icon-goback {
  border: #407bff;
  transform: rotate(-180deg);
  margin-right: 30px;
}

.text-goback {
  color: #263238;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
